.head {
  background-color:rgba(255,255,0,0.3);
  padding: 20px;
  color: white;
  background-image: url(../src/img/home.webp);
  background-repeat: no-repeat;
  height: 100vh;
  
  
}

.font{
  
  font-size: 70px;
  background-color:rgba(0,0,255,0.3);
}


.service{
  display: flex;
}


.blogs{
  background-color: rgb(142, 185, 181);
  padding: 25px;
}

.about{
  
  color: rgba(0,0,255,0.3); 
  
  background-color: rgba(255,255,0,0.3);
  padding: 50px;
  
}

.footer{
  background-color:#07294D ;
  padding: 20px;
  color: white;
}