/* for home page style--------------- */

.head {
  background-color:rgba(255,255,0,0.3);
  padding: 20px;
  color: white;
  background-image: url(../src/img/home.webp);
  background-repeat: no-repeat;
  height: 100vh;
  
  
}

.font{
  
  font-size: 70px;
  background-color:rgba(0,0,255,0.3);
}

/* --------------------------------------- */
.service{
  display: flex;
}



/* Blogs page style------------------- */
.blogs{
  background-color: rgb(142, 185, 181);
  padding: 25px;
}
/* ----------------------------------------- */


/* About us page----------------------------- */
.about{
  
  color: #07294D ; 
  
  background-color: rgba(255,255,0,0.3);
  padding: 50px;
  
}
/* ----------------------------------------------- */

/* footer style----------------------------------- */
.footer{
  background-color:#07294D ;
  padding: 20px;
  color: white;
}